<a href="https://colab.research.google.com/github/l-abrahao/FATEC_SA/blob/main/Kaggle_KickStarter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Aula 01 Manufatura - Responder as Perguntas Abaixo:

Qual categoria de projetos arrecadou mais dinheiro ?

Separar os projetos entre os que deram e não deram certo

Qual categoria mais superou o valor original estabelecido ?

Qual o melhor mes para lançar um projeto ?

Qual a categoria que tem mais chances de dar certo ?

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
dados = pd.read_csv('/media/ks-projects-201801.csv')

dados.head()

           ID  ... usd_goal_real
0  1000002330  ...       1533.95
1  1000003930  ...      30000.00
2  1000004038  ...      45000.00
3  1000007540  ...       5000.00
4  1000011046  ...      19500.00

[5 rows x 15 columns]

In [ ]:
dados.shape

(378661, 15)

In [ ]:
dados.columns.values

array(['ID', 'name', 'category', 'main_category', 'currency', 'deadline',
       'goal', 'launched', 'pledged', 'state', 'backers', 'country',
       'usd pledged', 'usd_pledged_real', 'usd_goal_real'], dtype=object)

In [ ]:
dados["category"].unique()

array(['Poetry', 'Narrative Film', 'Music', 'Film & Video', 'Restaurants',
       'Food', 'Drinks', 'Product Design', 'Documentary', 'Nonfiction',
       'Indie Rock', 'Crafts', 'Games', 'Tabletop Games', 'Design',
       'Comic Books', 'Art Books', 'Fashion', 'Childrenswear', 'Theater',
       'Comics', 'DIY', 'Webseries', 'Animation', 'Food Trucks',
       'Public Art', 'Illustration', 'Photography', 'Pop', 'People',
       'Art', 'Family', 'Fiction', 'Accessories', 'Rock', 'Hardware',
       'Software', 'Weaving', 'Gadgets', 'Web', 'Jazz', 'Ready-to-wear',
       'Festivals', 'Video Games', 'Anthologies', 'Publishing', 'Shorts',
       'Electronic Music', 'Radio & Podcasts', 'Apps', 'Cookbooks',
       'Apparel', 'Metal', 'Comedy', 'Hip-Hop', 'Periodicals', 'Dance',
       'Technology', 'Painting', 'World Music', 'Photobooks', 'Drama',
       'Architecture', 'Young Adult', 'Latin', 'Mobile Games', 'Flight',
       'Fine Art', 'Action', 'Playing Cards', 'Makerspaces', 'Punk',
       'Thrillers', "Children's Books", 'Audio', 'Performance Art',
       'Ceramics', 'Vegan', 'Graphic Novels', 'Fabrication Tools',
       'Performances', 'Sculpture', 'Sound', 'Stationery', 'Print',
       "Farmer's Markets", 'Events', 'Classical Music', 'Graphic Design',
       'Spaces', 'Country & Folk', 'Wearables', 'Mixed Media',
       'Journalism', 'Movie Theaters', 'Animals', 'Digital Art', 'Horror',
       'Knitting', 'Small Batch', 'Installations', 'Community Gardens',
       'DIY Electronics', 'Embroidery', 'Camera Equipment', 'Jewelry',
       'Farms', 'Conceptual Art', 'Fantasy', 'Webcomics', 'Experimental',
       'Science Fiction', 'Puzzles', 'R&B', 'Music Videos', 'Calendars',
       'Video', 'Plays', 'Blues', 'Bacon', 'Faith', 'Live Games',
       'Woodworking', 'Places', 'Footwear', '3D Printing', 'Academic',
       'Zines', 'Musical', 'Workshops', 'Photo', 'Immersive',
       'Letterpress', 'Gaming Hardware', 'Candles', 'Television',
       'Space Exploration', 'Couture', 'Nature', 'Robots', 'Typography',
       'Crochet', 'Translations', 'Textiles', 'Pottery',
       'Interactive Design', 'Video Art', 'Quilts', 'Glass',
       'Pet Fashion', 'Printing', 'Romance', 'Civic Design', 'Kids',
       'Literary Journals', 'Taxidermy', 'Literary Spaces', 'Chiptune',
       'Residencies'], dtype=object)

In [ ]:
dados["main_category"].unique()

array(['Publishing', 'Film & Video', 'Music', 'Food', 'Design', 'Crafts',
       'Games', 'Comics', 'Fashion', 'Theater', 'Art', 'Photography',
       'Technology', 'Dance', 'Journalism'], dtype=object)

In [ ]:
dados.describe()

                 ID          goal  ...  usd_pledged_real  usd_goal_real
count  3.786610e+05  3.786610e+05  ...      3.786610e+05   3.786610e+05
mean   1.074731e+09  4.908079e+04  ...      9.058924e+03   4.545440e+04
std    6.190862e+08  1.183391e+06  ...      9.097334e+04   1.152950e+06
min    5.971000e+03  1.000000e-02  ...      0.000000e+00   1.000000e-02
25%    5.382635e+08  2.000000e+03  ...      3.100000e+01   2.000000e+03
50%    1.075276e+09  5.200000e+03  ...      6.243300e+02   5.500000e+03
75%    1.610149e+09  1.600000e+04  ...      4.050000e+03   1.550000e+04
max    2.147476e+09  1.000000e+08  ...      2.033899e+07   1.663614e+08

[8 rows x 7 columns]

01: Qual categoria de projetos arrecadou mais dinheiro ?

In [ ]:
dados[["main_category","pledged"]].value_counts().sort_index()

main_category  pledged
Art            0.00         4008
               1.00          628
               1.18            1
               1.23            1
               1.27            1
                            ...
Theater        258439.00       1
               301019.57       1
               318120.34       1
               322202.00       1
               369990.00       1
Length: 128217, dtype: int64

In [ ]:
by_category = dados.groupby('main_category')

In [ ]:
by_category.describe()

                    ID                ... usd_goal_real
                 count          mean  ...           75%           max
main_category                         ...
Art            28153.0  1.077788e+09  ...     7500.0000  1.000000e+08
Comics         10819.0  1.063611e+09  ...     8000.0000  1.000000e+08
Crafts          8809.0  1.078527e+09  ...     6570.0100  1.000000e+07
Dance           3768.0  1.075450e+09  ...     7000.0000  2.000000e+06
Design         30070.0  1.078300e+09  ...    26716.3025  1.000000e+08
Fashion        22816.0  1.069690e+09  ...    15000.0000  1.000000e+08
Film & Video   63585.0  1.074967e+09  ...    20000.0000  1.513959e+08
Food           24602.0  1.081894e+09  ...    25000.0000  1.663614e+08
Games          35231.0  1.072129e+09  ...    20461.9350  1.000000e+08
Journalism      4755.0  1.076352e+09  ...    15000.0000  1.000000e+08
Music          51918.0  1.074995e+09  ...     8500.0000  5.000000e+07
Photography    10779.0  1.071581e+09  ...    10000.0000  1.000000e+07
Publishing     39874.0  1.077086e+09  ...    10000.0000  1.000000e+08
Technology     32569.0  1.071495e+09  ...    50000.0000  1.101698e+08
Theater        10913.0  1.068349e+09  ...     7566.5900  4.000000e+07

[15 rows x 56 columns]

In [ ]:
by_category['pledged'].sum()

main_category
Art             1.015470e+08
Comics          7.464365e+07
Crafts          1.776030e+07
Dance           1.390693e+07
Design          8.154909e+08
Fashion         1.494227e+08
Film & Video    4.045744e+08
Food            1.313787e+08
Games           7.703319e+08
Journalism      1.530200e+07
Music           2.072948e+08
Photography     3.950123e+07
Publishing      1.450902e+08
Technology      7.356088e+08
Theater         4.471301e+07
Name: pledged, dtype: float64

Separar os Projetos Entre os que Deram e não Deram Certo

In [ ]:
dados['state'].unique()

array(['failed', 'canceled', 'successful', 'live', 'undefined',
       'suspended'], dtype=object)

In [ ]:
sucesso = dados.query("state == 'successful'")
falhos = dados.query("state == 'failed'")
andamento = dados.query("state == 'live'")
cancelados = dados.query("state == 'canceled'")
suspensos = dados.query("state == 'suspended'")
nd = dados.query("state == 'undefined'")

In [ ]:
sucesso.head()

            ID  ... usd_goal_real
5   1000014025  ...      50000.00
6   1000023410  ...       1000.00
11   100005484  ...      12500.00
14  1000057089  ...       6469.73
18  1000070642  ...        250.00

[5 rows x 15 columns]

In [ ]:
falhos.head()

           ID  ... usd_goal_real
0  1000002330  ...       1533.95
1  1000003930  ...      30000.00
2  1000004038  ...      45000.00
3  1000007540  ...       5000.00
7  1000030581  ...      25000.00

[5 rows x 15 columns]

Qual categoria mais superou o valor original estabelecido ?

In [ ]:
by_category[['pledged','goal']].mean()

                    pledged           goal
main_category
Art             3606.970044   40829.180144
Comics          6899.311189   20243.646297
Crafts          2016.153947   11592.285901
Dance           3690.798684   10321.331290
Design         27119.751279   46733.630260
Fashion         6549.031814   24818.246005
Film & Video    6362.733853   84334.009667
Food            5340.163268   48693.745411
Games          21865.173174   50711.298323
Journalism      3218.085216   88783.576925
Music           3992.735602   16056.357380
Photography     3664.646577   13003.234577
Publishing      3638.716374   29131.464537
Technology     22586.164814  119712.316780
Theater         4097.224679   27542.345424